<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
			crossorigin="anonymous"
		/>
		<!-- Fontawesome CSS -->
		<link
			rel="stylesheet"
			href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
			integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
			crossorigin="anonymous"
		/>
		<!-- Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
			crossorigin="anonymous"
		></script>
		<!-- Custom CSS -->
		<link rel="stylesheet" href="/assets/css/style.css" />
		<title>Parker Parking App</title>
	</head>

	<body>
		<div class="container-fluid">
			{{! Required header for 15vh }}
			<div class="mock-phone-header"></div>

			{{! The main handlebar starts here }}
			<div class="row">
				<div
					class="col-12 col-sm-8 col-md-6 col-lg-4 offset-0 offset-sm-2 offset-md-3 offset-lg-4 mock-phone"
				>
					<!-- Parker Logo -->
					<nav class="row mb-3 bg-dark rounded-top text-light py-3">
						<div class="col-8">
							<span class="navbar-brand mb-0 h1">
								<i class="fas fa-car"></i>
								Parker App
							</span>
						</div>
						<div class="col-4 text-right">
							<i class="fas fa-bars fa-2x"></i>
						</div>
					</nav>

					{{! Other handlebar files renders here }}
					<div class="row">
						<div class="col-12 p-3 bg-danger">
							{{{body}}}
						</div>
					</div>
				</div>
			</div>

			{{! Required footer for 15vh }}
			<div class="mock-phone-footer"></div>
		</div>
	</body>
</html>