<body>
	<div class="container-fluid">
		<div class="mock-phone-header"></div>
		{{! xs sm md lg xl }}
		<div
			class="col-12 col-sm-8 col-md-6 col-lg-4 offset-0 offset-sm-2 offset-md-3 offset-lg-4 mock-phone"
		>
			{{! Every other pages renders here! }}
			{{{body}}}
			{{! Every other pages renders here! }}
		</div>
		<div class="mock-phone-footer"></div>
	</div>