<!-- Developers starts here -->
<div class="row">
	<div class="col-12 text-center">
		<h2>Meet Our Team</h2>
	</div>
</div>
<div class="row mt-5">
	<div class="col-12">
		<ul class="list-group">
			<li class="list-group-item"><i
					class="far fa-user-circle fa-lg text-success"
				></i>
				<a href="https://github.com/zanamama" target="_blank" class="text-dark">
					Zana Mathuthu
				</a>
			</li>
			<li class="list-group-item"><i
					class="far fa-user-circle fa-lg text-success"
				></i>
				<a
					href="https://github.com/HassanY99"
					target="_blank"
					class="text-dark"
				>
					Hassan Yusuf
				</a>
			</li>
			<li class="list-group-item"><i
					class="far fa-user-circle fa-lg text-success"
				></i>
				<a
					href="https://github.com/brickly26"
					target="_blank"
					class="text-dark"
				>
					Burak Aksu
				</a>
			</li>
			<li class="list-group-item"><i
					class="far fa-user-circle fa-lg text-success"
				></i>
				<a
					href="https://github.com/brondchux"
					target="_blank"
					class="text-dark"
				>
					Gospel Chukwu
				</a>
			</li>
		</ul>
		<p class="mt-5 text-center">
			<small>&copy; 2021 Parker App. Find free street parking today!</small>
		</p>
	</div>
</div>
<!-- Developers end here -->