  <!-- Homepage starts here -->
    <div class="row my-5">
      <div class="offset-2 col-8">
        <button type="button" class="btn btn-danger form-control btn-lg">Report Parking Spot</button>
      </div>
    </div>
    {{#if false}}
    <div class="row">
      <div class="col-12">
        <ul class="list-group">
          <li class="list-group-item"><i class="fas fa-map-marker-alt text-danger"></i> 212 crestwood drive Valley stream, NY 11278</li>
          <li class="list-group-item"><i class="fas fa-map-marker-alt text-danger"></i> 119 Golf Street Freeport, NY 11520</li>
          <li class="list-group-item"><i class="fas fa-map-marker-alt text-danger"></i> 8424 N. Paris Hill Ave. Bridgewater, NJ 08807</li>
          <li class="list-group-item"><i class="fas fa-map-marker-alt text-danger"></i> 7218 St Louis Street West Babylon, NY 11704</li>
        </ul>
      </div>
    </div>  
    {{else}}
     <div class="row">
      <div class="col-12">
        <div class="text-center">
           <img src="/assets/images/map.png" alt="" class="img-fluid rounded border border-dark">
        </div>
      </div>
    </div>  
    {{/if}}  
  <!-- Homepage end here -->