  <!-- Homepage starts here -->
    <div class="row py-4">
      <div class="offset-1 col-10">
        <button type="button" class="btn btn-info form-control btn-lg">Report Parking Spot!</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">212 crestwood drive Valley stream, NY 11278</li>
              <li class="list-group-item">119 Golf Street Freeport, NY 11520</li>
              <li class="list-group-item">8424 N. Paris Hill Ave. Bridgewater, NJ 08807</li>
              <li class="list-group-item">7218 St Louis Street West Babylon, NY 11704</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <!-- Homepage end here -->