<!-- Homepage starts here -->
<div class="row my-5">
	<div class="offset-2 col-8">
		{{#if logged_in}}
		<button
			type="button"
			class="btn btn-danger form-control btn-lg"
			id="find-me"
		>Report Parking Spot
		</button>
		{{else}}
		<a
			href="/login"
			class="btn btn-danger form-control btn-lg"
		>Report Parking Spot
		</a>
		{{/if}}
		<div class="text-center mt-2">
			<p id="status"></p>
			<a id="map-link" target="_blank"></a>
		</div>
	</div>
</div>
{{#if logged_in}}
	<div class="row">
		<div class="col-12">
			<ul class="list-group">
				{{#each locationsData as |location|}}
					<li class="list-group-item"><i
							class="fas fa-map-marker-alt fa-lg text-danger mr-2"
						></i>
						<a
							href="/parking/{{location.id}}"
							class="text-dark font-weight-bold"
						>{{location.address}}</a>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
{{else}}
	<div class="row">
		<div class="col-12">
			<div class="text-center">
				<img
					src="/assets/images/map.png"
					alt=""
					class="img-fluid rounded border border-dark"
				/>
			</div>
		</div>
	</div>
{{/if}}

<script type="text/javascript" src="/assets/js/index.js"></script>
<!-- Homepage end here -->