<!-- How page starts here -->
<div class="row">
  {{! <div class="offset-2 col-8 text-center">
    <h2><strong>How It Works!</strong></h2>
  </div> }}
</div>
<div class="row mt-3">
  <div class="col-12">
    <h1 class="text-center"><strong>How It Works!</strong></h1>
    <br />
    <h4>We help you find street parking in any crowded area you find yourself
      in!</h4>
    <br />
    <ol>
      <li><strong>Step 1:</strong>
        First, you need to turn on your GPS for location sharing.</li>
      <li><strong style="color:blue;">Step 2:</strong>
        Then, create an account!</li>
      <li><strong>Step 3:</strong>Input your personal details so that you can
        receive help in finding street parking!</li>
      <li><strong>Step 4:</strong> Add your destination address.</li>
      <li><strong>Step 5:</strong>
        Once you are close to your destination, this app will share available
        parking spaces near your area</li>
      <li><strong>Step 6:</strong>
        Once you find a place to park, click on the green button that says "I
        parked here!". You signal to the app that you've found a parking space
        successfully, and our app will store your parking location and help you
        when you need to find it later.</li>
      <li><strong>Step 7*:</strong>As a common cortesy, you can use the Red
        "Report Parking Spot" Button to share with other drivers where you see
        available parking spaces along the way.</li>
      <li><strong>Step 8*:</strong>
        Once you share available parking spots, over time, our app algorithm
        rewards members who help 10+ people find parking near their destination
        address. Through your support of others, we look to reward you, and we
        thank you in advance for your help.</li>
    </ol>
  </div>
</div>
<!-- How page ends here -->