<!-- How page starts here -->
<div class="row">
  {{! <div class="offset-2 col-8 text-center">
    <h2>How It Works!</h2>
  </div> }}
</div>
<div class="row mt-3">
  <div class="col-12">
    <h1 class="text-center">How It Works!</h1>
    <br />
    <h4 style="text-align:center">We help you find street parking in any crowded
      area you find yourself in!</h4>
    <br />
    <div
      style="overflow:scroll;height:300px;width:100%;border:gray solid 1px; padding:9px; border-radius: 5px;"
    >

      <p><strong
          style="color:rgb(30, 91, 233); font-size:18px;"
        >Step 1:</strong>
        Turn on your GPS for location sharing.</p>
      <p><strong
          style="color:rgb(30, 91, 233); font-size:18px;"
        >Step 2:</strong>Create an account!</p>
      <p><strong style="color:rgb(30, 91, 233); font-size:18px;"></p>
      Step 3:</strong>
        Input your personal details.
      </p>
      <p><strong
          style="color:rgb(30, 91, 233); font-size:18px;"
        >Step 4:</strong>Add your destination address. 
        </p>
       <p><strong
          style="color:rgb(30, 91, 233); font-size:18px;"
        >Step 5:</strong> As you drive toward your
      destination, this app will share available parking spaces
      nearby your destination. </p>
      <p><strong
          style="color:rgb(30, 91, 233); font-size:18px;"
        >Step 6:</strong> Once you are parked comfortably, click on the green button
      that says "I parked here!". (You signal to the app that you've found a
      parking space successfully, and our app will store your parking location
      and help you when you need to find it later.) </p>
      <p><strong
          style="color:rgb(30, 91, 233); font-size:18px;"
        >Step 1:</strong> SHARE! As a cortesy,
      use the Red "Report Parking Spot" Button to share with other drivers where
      you see available parking spaces along the way. </p>
      <p><strong
          style="color:rgb(30, 91, 233); font-size:18px;"
        >Step 8:</strong> Once you share
      available parking spots, over time, our app algorithm rewards members who
      help 10+ people find parking near their destination address. Through your
      support of others, we look to reward you, and we thank you in advance for
      your help.</p>
    </div>
  </div>
</div>
<!-- How page ends here -->