<!-- How page starts here -->
<div class="row">
  <div class="offset-2 col-8 text-center">
    <h2>How It Works</h2>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <h1 class="text-center">How It Works!</h1>
    <ol>
      <li>Step 1: First, you need to turn on your GPS for location sharing.</li>
      <li>Step 2: Then, create an account!</li>
      <li>Step 3: Input your personal details so that you can receive help in
        finding street parking!</li>
      <li>Step 4: Add your destination address.</li>
      <li>Step 5: Once you are close to your destination, this app will share
        available parking spaces near your area</li>
      <li>Step 6: Once you find a place to park, you signal to the app that
        you've found a parking space successfully, and our app will help to
        remind you of where your car is</li>
      <li>Step 7: As a common cortesy, you can use the Red "Report Parking Spot"
        Button to share with other drivers where you see available parking
        spaces along the way.</li>
      <li>Step 8: Once you share available parking spots, over time, our app
        algorithm rewards members who help 10+ people find parking near their
        destination address. Through your support of others, we look to reward
        you, and we thank you in advance for your help.</li>
    </ol>
  </div>
</div>
<!-- How page ends here -->