<!-- Menu page starts here -->
<div class="row">
	<div class="offset-2 col-8 text-center">
		<h2>Parker Menu</h2>
	</div>
</div>
<div class="row mt-3">
	<div class="offset-2 col-8">
		<a
			href="/"
			class="btn btn-outline-secondary form-control btn-lg my-2"
		>Home</a>
		<a
			href="/profile"
			class="btn btn-outline-secondary form-control btn-lg my-2"
		>Profile</a>
		<a
			href="/parking"
			class="btn btn-outline-secondary form-control btn-lg my-2"
		>Parking</a>
		<a
			href="/how"
			class="btn btn-outline-secondary form-control btn-lg my-2"
		>How it works</a>
		<a
			href="/privacy"
			class="btn btn-outline-secondary form-control btn-lg my-2"
		>Privacy Policy</a>
		<a
			href="/developers"
			class="btn btn-outline-secondary form-control btn-lg my-2"
		>Developers</a>
		{{#if logged_in}}
		<button
			id="logout-btn"
			class="btn btn-danger form-control btn-lg my-2"
		>Logout</button>
		{{else}}
		<a
			href="/login"
			class="btn btn-success form-control btn-lg my-2"
		>Login</a>
		{{/if}}
	</div>
</div>
<!-- Menu page ends here -->