<!-- Privacy page starts here -->
<div class="row">
	<div class="offset-2 col-8 text-center">
		<h2>Privacy Policy</h2>
	</div>
</div>
<div class="row mt-3">
	<div class="col-12">
		<p class="text-center">Coming soon... :)</p>
	</div>
</div>
<!-- Privacy page ends here -->