    <div class="row my-5">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <i class="fas fa-user-circle fa-6x"></i>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row my-5">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <h2>Hassan Yusuf</h2>
        </div>
        <div class="col-4"></div>
    </div>
     {{!-- TODO: display users car on their profile --}}
<div class="secondRow my-5">
    <div class="row my-3">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <button type="button" class="btn btn-outline-primary">How it works</button>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row my-3">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <button type="button" class="btn btn-outline-danger">Privacy Policy</button>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row my-3">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <button type="button" class="btn btn-outline-success">Change User Login Info</button>
        </div>
        <div class="col-4"></div>
    </div>
</div>